@font-face {
    font-family: Cookii;
    src: url('./font/Cookii-Display.otf');
}
@font-face {
    font-family: Freshwost;
    src: url('./font/1FTV-Freshwost.otf');
}
@font-face {
    font-family: Seventies;
    src: url('./font/VN-Seventies-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
}

body{
    background: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

.header{
    display: flex; 
    align-items: center;     
    margin-top: 10vh;
    justify-content: center; 
    flex-direction: column;
}

.header p {
    margin: 3vh 0;
    font-size: clamp(10px, calc(2.5vh + 10px), 100px);
    text-align: center;
    line-height: 1.5;
    max-width: 75vw;
    font-family: Freshwost;
}

.header img{
    width: max(20vh, 10vw);
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    width: max(40vw, 45vh);
    margin: auto;
}

form input{
    margin: 1.5vh 1vh;
    line-height: 2;
    font-size: clamp(10px, calc(1.5vh + 10px), 100px);
    padding: 0 1.5vw;
    border-radius: 16px;
    border: max(0.2vh, 0.2vw) solid;
    font-family: Freshwost;
}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 32px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 32px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 32px;
  }

  form button{
    padding: 2vh 2vw;
    margin: auto;
    border: none;
    margin: 3vh auto;
    font-size: clamp(10px, calc(2vh + 10px), 100px);
    font-weight: lighter;
    font-family: Cookii;
}
